<div>
    <div class="row">
        <div class="col-xs-3">
            <label>Match #
            <input type="text" ng-model="matchNum" />
            </label>
        </div>
        <div class="col-xs-3">
            <label>Team #
            <input type="text" ng-model="teamNum" />
            </label>
        </div>
        <div class="col-xs-3">
            <label>Alliance
            <label><input type="radio" ng-model="alliance" value="Red">Red</label>
            <label><input type="radio" ng-model="alliance" value="Blue">Blue</label>
            </label>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>